body {
  background-color: rgba(231, 165, 128, 0.7);
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

* {
  padding: 0;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.headers {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 1000px;
  flex: 1 1 800px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e7a580;
  z-index: 3;
  border-bottom: 2px solid #fff;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}

.header__body {
  position: relative;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo {
  position: relative;
  z-index: 3;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40px;
  flex: 0 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo img {
  max-width: 130px;
  display: block;
}

.header__burger {
  display: none;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__list li {
  list-style: none;
  margin: 0 0 0 20px;
  position: relative;
  z-index: 3;
}

.header__list li:first-child {
  margin: 0;
}

.header__link {
  color: #000;
  text-transform: uppercase;
  font-size: 20px;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__link__object {
  color: #fff;
}

.header__link:hover {
  color: #fff;
}

.header__list li img:last-child {
  max-width: 30px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: -30px 0 0 60px;
  display: block;
}

.header__list li img:last-child:hover {
  background: #fff;
}




@media (max-width: 1024px){
  .container{
    max-width: 800px;
  }
  .header__list li{
    list-style: none;
    margin: 0 0 0 20px;
    position: relative;
    z-index: 3;
  }
  .header__link{
    color: #000;
    text-transform: uppercase;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.3s ease;
    font-weight: 500;
  }
  .header__list li img:last-child{
    max-width: 22px;
    transition: all 0.3s ease;
    margin: -24px 0 0 60px;
    display: block;
  }
  .header__logo img{
    max-width: 120px;
    display: block;
  }
}

@media (max-width: 800px){
  .container{
    max-width: 700px;
  }
  .header__list li{
    list-style: none;
    margin: 0 0 0 20px;
    position: relative;
    z-index: 3;
  }
  .header__link{
    color: #000;
    text-transform: uppercase;
    font-size: 15px;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  .header__list li img:last-child{
    max-width: 23px;
    transition: all 0.3s ease;
    margin: -24px 0 0 50px;
    display: block;
  }
  .header__logo img{
    max-width: 110px;
    display: block;
  }
}

@media (max-width: 720px){
  .container{
    max-width: 600px;
  }
  .header__body{
    height: 70px;
  }

  .header__logo{
    flex: 0 0 40px;
  }
  .header__logo img{
    max-width: 100px;
  }
  .header__burger{
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }

  .header__burger span{
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }


  .header__burger:before,
  .header__burger:after{
    content: '';
    background: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before{
    top: 0;
  }

  .header__burger:after{
    bottom: 0;
  }

  .header__burger.active span{
    transform: scale(0);
  }

  .header__burger.active:before{
    transform:rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after{
    transform:rotate(-45deg);
    bottom: 9px;
  }
  

  .header__menu{
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 23%;
    background-color: rgba(231, 165, 128, 0.7);
    padding: 50px 0 0 0px;
    text-align: center;
    flex: 0 0 auto;
  }

  .header__menu.active{
    top: 0;
  }
  

  .header__list li{
    list-style: none;
    margin: 0 0 0 20px;
    position: relative;
    z-index: 3;
  }
  .header__link{
    color: #000;
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  .header__list li img:last-child{
    max-width: 23px;
    transition: all 0.3s ease;
    margin: -24px 0 0 50px;
    display: block;
  }
  .header__logo img{
    max-width: 110px;
    display: block;
  }

  .header__list li img:last-child{
    display: none;
  }

  .header__list{
    display: block;

  }
  .header__list li{
    margin: 0 0 15px 0;
  }
  .header__list li:first-child{
    margin: 40px 0 15px 0;
  }
}


















.object{

}

.object__body{
  margin: 130px 0 0 0;
}

.object__title{
  font-size: 35px;
  font-weight: 700;
  text-align: center;
  margin: 0 0 30px 0px;
}



.object__images{
  margin: 0 0 0 50px;
}

.object__column{
  display: flex;
  justify-content: center;
  align-items: center;
}

.object__column div{
  margin: 0 50px 40px 0;
}
.object__column2 div{
  margin: 0 50px 40px 0;
}

.object__column2{
  justify-content: center;
  align-items: center;
  display: flex;
}

.object__image{
  
}

.object__image2{

}

.object__image3{
  
}

.object__image4{
  
}

.object__text{
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.object__image img{
  width: 500px;
  height: 350px;
}

.object__image2 img{
  width: 470px;
  height: 350px;
}

.object__image3 img{
  width: 500px;
  height: 350px;
}

.object__image4 img{
  width: 470px;
  height: 350px;
}


@media (max-width: 1024px){
  .container{
    max-width: 800px;
  }

  .object{

  }

  .object__body{
    margin: 110px 0 0 0;
  }

  .object__title{
    font-size: 30px;
    font-weight: 700;

    margin: 0 0 30px 0px;
    text-align: center;
  }



  .object__images{
    margin: 0 0 0 50px;
  }

  .object__column{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .object__column div{
    margin: 0 60px 40px 0;
  }
  .object__column2 div{
    margin: 0 55px 0px 0;
  }

  .object__column2{
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .object__image{
    
  }

  .object__image2{

  }

  .object__image3{
    
  }

  .object__image4{
    
  }

  .object__text{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
  }

  .object__image img{
    width: 350px;
    height: 250px;
  }

  .object__image2 img{
    width: 330px;
    height: 250px;
  }

  .object__image3 img{
    width: 350px;
    height: 250px;
  }

  .object__image4 img{
    width: 350px;
    height: 250px;
  }
}

@media (max-width: 800px){
  .container{
    max-width: 700px;
  }

  .object{

  }

  .object__body{
    margin: 110px 0 0 0;
  }

  .object__title{
    font-size: 30px;
    font-weight: 700;

    margin: 0 0 30px 0px;
    text-align: center;
  }



  .object__images{
    margin: 0 0 0 58px;
  }

  .object__column{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .object__column div{
    margin: 0 60px 40px 0;
  }
  .object__column2 div{
    margin: 0 60px 0px 0;
  }

  .object__column2{
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .object__image{
    
  }

  .object__image2{

  }

  .object__image3{
    
  }

  .object__image4{
    
  }

  .object__text{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
  }

  .object__image img{
    width: 330px;
    height: 230px;
  }

  .object__image2 img{
    width: 330px;
    height: 230px;
  }

  .object__image3 img{
    width: 330px;
    height: 230px;
  }

  .object__image4 img{
    width: 330px;
    height: 230px;
  }
}




.footer {
  background-color: #e7a580;
  padding: 50px 0 50px 0;
}

.footer__title {
  font-size: 35px;
  text-transform: uppercase;
}

.footer__subtitle {
  font-size: 30px;
  margin: 10px 0 40px 0;
}

.footer__links {
  margin: 0 0 50px 0;
}

.footer__links a {
  margin: 0 0 20px 0;
}

.footer__links a:last-child {
  margin: 0;
}

.footer__link {
  display: block;
  text-decoration: none;
  color: #000;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 25px;
}

.footer__link:first-child {
  padding: 0 0 0 35px;
  background: url("../img/icon/Слой 14.png") 0px 3px/24px no-repeat;
}

.footer__link:last-child {
  padding: 0 0 0 35px;
  background: url("../img/icon/Слой 15.png") 0px 4px/30px no-repeat;
}

.footer__link:hover {
  color: #fff;
}

.footer__label {
  font-size: 30px;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

.footer__enter {
  margin: 0 0 30px 0;
  background-color: #e7a580;
  border: 2px solid #fff;
  font-size: 20px;
}

.footer__enter::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.9);
}

.footer__username input:nth-child(1) {
  padding: 20px 200px 20px 20px;
}

.footer__useremail input:nth-child(1) {
  padding: 20px 50px 20px 20px;
}

.footer__usertext input:nth-child(1) {
  padding: 20px 150px 20px 20px;
}

.footer__usertext2 textarea:nth-child(1) {
  padding: 10px 0 0 10px;
}

.footer__userbtn {
  background-color: #e7a580;
  border: 2px solid #fff;
  font-size: 20px;
  color: #fff;
  padding: 10px 15px 10px 15px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer__userbtn:hover {
  color: #000;
}


@media (max-width: 1024px){
  .container{
    max-width: 800px;
  }

  .footer{
    background-color: #e7a580;
    padding: 40px 0 40px 0;
  }

  .footer__row{

  }

  .footer__title{
    font-size: 30px;
    text-transform: uppercase;
  }

  .footer__subtitle{
    font-size: 25px;
    margin: 15px 0 30px 0;
  }

  .footer__links{
    margin: 0 0 30px 0;
    max-width: 300px;
  }

  .footer__links a{
    margin:  0 0 20px 0;
  }

  .footer__links a:last-child{
    margin:  0;
  }

  .footer__link{
    display: block;
    text-decoration: none;
    color: #000;
    transition: all 0.3s ease;
    font-size: 25px;
  }

  .footer__link:first-child{
    padding: 0 0 0 35px;
    background: url('../img/icon/Слой 14.png') 0px 3px / 24px no-repeat;
  }

  .footer__link:last-child{
    padding: 0 0 0 35px;
    background: url('../img/icon/Слой 15.png') 0px 4px / 30px no-repeat;
  }

  .footer__link:hover{
    color: #fff;
  }

  .footer__label{
    font-size: 30px;
    text-transform: uppercase;
    margin: 0 0 20px 0;
  }
  .footer__enters{

  }

  .mainEnter{

  }

  .footer__enter{
    margin: 0 0 30px 0;
    background-color: #e7a580;
    border: 2px solid #fff;
    font-size: 20px;
  }


  .footer__enter::-webkit-input-placeholder{
    color: rgba(255, 255, 255, 0.9);
  }

  .footer__username{

  }

  .footer__useremail{

  }

  .footer__usertext{

  }

  .footer__usertext2{

  }

  .footer__username input:nth-child(1){
    padding: 20px 200px 20px 20px;
  }

  .footer__useremail input:nth-child(1){
    padding: 20px 50px 20px 20px;
  }

  .footer__usertext input:nth-child(1){
    padding: 20px 150px 20px 20px;
  }

  .footer__usertext2 textarea:nth-child(1){
    padding: 10px 0 0 10px;
  }

  .footer__userbtn{
    background-color: #e7a580;
    border: 2px solid #fff;
    font-size: 20px;
    color: #fff;
    padding: 10px 15px 10px 15px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .footer__userbtn:hover{
    color: #000;
  }

}

@media (max-width: 800px){
  .container{
    max-width: 700px;
  }

  .footer{
    background-color: #e7a580;
    padding: 50px 0 60px 0;
  }

  .footer__row{

  }

  .footer__title{
    font-size: 25px;
    text-transform: uppercase;
  }

  .footer__subtitle{
    font-size: 20px;
    margin: 15px 0 20px 0;
  }

  .footer__links{
    margin: 0 0 20px 0;
    max-width: 300px;
  }

  .footer__links a{
    margin:  0 0 15px 0;
  }

  .footer__links a:last-child{
    margin:  0;
  }

  .footer__link{
    display: block;
    text-decoration: none;
    color: #000;
    transition: all 0.3s ease;
    font-size: 20px;
  }

  .footer__link:first-child{
    padding: 0 0 0 25px;
    background: url('../img/icon/Слой 14.png') 0px 2px / 20px no-repeat;
  }

  .footer__link:last-child{
    padding: 0 0 0 30px;
    background: url('../img/icon/Слой 15.png') 0px 2px / 25px no-repeat;
  }

  .footer__link:hover{
    color: #fff;
  }

  .footer__label{
    font-size: 25px;
    text-transform: uppercase;
    margin: 0 0 20px 0;
  }
  .footer__enters{

  }

  .mainEnter{

  }

  .footer__enter{
    margin: 0 0 30px 0;
    background-color: #e7a580;
    border: 2px solid #fff;
    font-size: 20px;
  }


  .footer__enter::-webkit-input-placeholder{
    color: rgba(255, 255, 255, 0.9);
  }

  .footer__username{

  }

  .footer__useremail{

  }

  .footer__usertext{

  }

  .footer__usertext2{

  }

  .footer__username input:nth-child(1){
    padding: 20px 200px 20px 20px;
  }

  .footer__useremail input:nth-child(1){
    padding: 20px 50px 20px 20px;
  }

  .footer__usertext input:nth-child(1){
    padding: 20px 150px 20px 20px;
  }

  .footer__usertext2 textarea:nth-child(1){
    padding: 10px 0 0 10px;
  }

  .footer__userbtn{
    background-color: #e7a580;
    border: 2px solid #fff;
    font-size: 20px;
    color: #fff;
    padding: 10px 15px 10px 15px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .footer__userbtn:hover{
    color: #000;
  }


}